:root {
--rotating-duration: 10s;
	--sun-size: 100px;
	--sun-color: yellow;
	--mercury-size: 10px;
	--mercury-distance-from-sun: 80px;
	--mercury-color: silver;
	--venus-size: 30px;
	--venus-distance-from-sun: 120px;
	--venus-color: rgb(216, 168, 78);
	--earth-size: 30px;
	--earth-distance-from-sun: 180px;
	--earth-color: green;
	--moon-size: 10px;
	--moon-distance-from-earth: 35px;
	--moon-color: gray;
	--mars-size: 20px;
	--mars-distance-from-sun: 230px;
	--mars-color: orange;
	--jupiter-size: 50px;
	--jupiter-distance-from-sun: 290px;
	--jupiter-color: rgb(97, 51, 51);
	--saturn-size: 45px;
	--saturn-distance-from-sun: 370px;
	--saturn-color: rgb(191, 135, 51);
	--saturn-ring-color: rgb(100, 70, 24);
	--uranus-size: 45px;
	--uranus-distance-from-sun: 440px;
	--uranus-color: rgb(60, 190, 204);
}

body {
	background-color: #0e0e3f;
}

.galaxy {
	position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -50px;
}

.sun,
.mercury,
.venus,
.earth,
.moon,
.mars,
.jupiter,
.saturn,
.uranus {
	border-radius: 45%;
}

.sun {
	width: var(--sun-size);
	height: var(--sun-size);
	background-color: var(--sun-color);
	animation: sun var(--rotating-duration) infinite;
	animation-timing-function: linear;
}

.mercury {
  width: var(--mercury-size);
  height: var(--mercury-size);
  margin: auto;
  background-color: var(--mercury-color);
  animation: mercury var(--rotating-duration) infinite;
  animation-timing-function: linear;
}

.venus {
  width: var(--venus-size);
  height: var(--venus-size);
  margin: auto;
  background-color: var(--venus-color);
  animation: venus var(--rotating-duration) infinite;
  animation-timing-function: linear;
}

.earth {
	width: var(--earth-size);
	height: var(--earth-size);
	margin: auto;
	background-color: var(--earth-color);
	animation: earth var(--rotating-duration) infinite;
	animation-timing-function: linear;
}

.moon {
	width: var(--moon-size);
	height: var(--moon-size);
	background-color: var(--moon-color);
	animation: moon var(--rotating-duration) infinite;
	animation-timing-function: linear;
}

.mars {
	width: var(--mars-size);
	height: var(--mars-size);
	margin: auto;
	background-color: var(--mars-color);
	animation: mars var(--rotating-duration) infinite;
	animation-timing-function: linear;
}

.jupiter {
	width: var(--jupiter-size);
	height: var(--jupiter-size);
	margin: auto;
	background-color: var(--jupiter-color);
	animation: jupiter var(--rotating-duration) infinite;
	animation-timing-function: linear;
}

.saturn {
	width: var(--saturn-size);
	height: var(--saturn-size);
	margin: auto;
	background-color: var(--saturn-color);
	animation: saturn var(--rotating-duration) infinite;
	animation-timing-function: linear;
}

.ring {
	border: 6px solid var(--saturn-ring-color);
	border-radius: 50%;
	width: calc(var(--saturn-size) - 25px);
	height: calc(var(--saturn-size) + 10px);
	transform: translateX(7px) translateY(-11px);
}

.uranus {
	width: var(--uranus-size);
	height: var(--uranus-size);
	margin: auto;
	background-color: var(--uranus-color);
	animation: uranus var(--rotating-duration) infinite;
	animation-timing-function: linear;
}

@keyframes sun {
	from {
		transform: rotateZ(0deg);
	}
	to {
		transform: rotateZ(360deg);
	}
}

@keyframes mercury {
	from {
		transform: translateX(var(--mercury-distance-from-sun)) translateY(45px) rotateZ(0deg);
	}
	to {
		transform: translateX(var(--mercury-distance-from-sun)) translateY(45px) rotateZ(360deg);
	}
}

@keyframes venus {
	from {
		transform: translateX(var(--venus-distance-from-sun)) translateY(25px) rotateZ(0deg);
	}
	to {
		transform: translateX(var(--venus-distance-from-sun)) translateY(25px) rotateZ(360deg);
	}
}


@keyframes earth {
	from {
		transform: translateX(var(--earth-distance-from-sun)) translateY(-5px) rotateZ(0deg);
	}
	to {
		transform: translateX(var(--earth-distance-from-sun)) translateY(-5px) rotateZ(360deg);
	}
}

@keyframes moon {
	from {
		transform: translateX(var(--moon-distance-from-earth)) translateY(15px) rotateZ(0deg);
	}
	to {
		transform: translateX(var(--moon-distance-from-earth)) translateY(15px) rotateZ(360deg);
	}
}

@keyframes mars {
	from {
		transform: translateX(var(--mars-distance-from-sun)) translateY(-30px) rotateZ(0deg);
	}
	to {
		transform: translateX(var(--mars-distance-from-sun)) translateY(-30px) rotateZ(360deg);
	}
}

@keyframes jupiter {
	from {
		transform: translateX(var(--jupiter-distance-from-sun)) translateY(-60px) rotateZ(0deg);
	}
	to {
		transform: translateX(var(--jupiter-distance-from-sun)) translateY(-60px) rotateZ(360deg);
	}
}

@keyframes saturn {
	from {
		transform: translateX(var(--saturn-distance-from-sun)) translateY(-105px) rotateZ(0deg);
	}
	to {
		transform: translateX(var(--saturn-distance-from-sun)) translateY(-105px) rotateZ(360deg);
	}
}

@keyframes uranus {
	from {
		transform: translateX(var(--uranus-distance-from-sun)) translateY(-145px) rotateZ(0deg);
	}
	to {
		transform: translateX(var(--uranus-distance-from-sun)) translateY(-145px) rotateZ(360deg);
	}
}